.label,.label-m{
    text-align:right;
    font-weight:bold;
}
.label-m{
    vertical-align:middle !important;
}
.resaltar{
    font-weight:bold;
}
.der{
    text-align:right;
}
.middle{
    vertical-align:middle !important;
}
.centrarbloque{
    background: transparent;
}
.centrarbloque > *{
    margin: 0px auto;
}
.table{
    margin-bottom: 2px !important;
}
.logocentreadopequeno{
    display: inline-block;
    margin-top: 14px;

}
.sinborde{
    border: transparent solid 0px !important;
}
.logocentreadopequeno img{

    background: transparent;
}
@media (max-width: 768px) {
    .col-xs-12.text-right, .col-xs-12.text-left {
        text-align: center;
    }
}