legend{
    font-size: 16px !important;
}
.label,.label-m{
    text-align:right;
    font-weight:bold;
}
.label-m{
    vertical-align:middle !important;
}
.resaltar{
    font-weight:bold;
}
.der{
    text-align:right;
}
.middle{
    vertical-align:middle !important;
}
.centrarbloque{
    background: transparent;
}
.centrarbloque > *{
    margin: 0px auto;
}
.table{
    margin-bottom: 2px !important;
}
.logocentreadopequeno{
    display: inline-block;
    margin-top: 14px;

}
.centrarbloquetabla{
    display: inline-block;
    margin: 0px auto;
}
.sinborde{
    border: transparent solid 0px !important;
}
.logocentreadopequeno img{
    background: transparent;
}
.iverde{
    color:#FFF;
    background-color: #1ab394 !important;
}
.irojo{
    color:#FFF;
    background-color: #ed5565 !important;
}

@media (max-width: 768px) {
    .col-xs-12.text-right, .col-xs-12.text-left {
        text-align: center;
    }
}